<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Miguel Ángel - Acerca de...</title>
    <link rel="icon" href="images/icon1.png"></link>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="titulo1">
        <h1>Miguel Ángel</h1>
    </div>

    <div class="texto1">
    <p> Michelangelo Buonarroti (Caprese, 6 de marzo de 1475-Roma, 18 de febrero de 1564), 
        conocido en español como Miguel Ángel, fue un arquitecto, escultor, pintor y poeta 
        italiano renacentista, considerado uno de los más grandes artistas de la historia tanto 
        por sus esculturas como por sus pinturas y obra arquitectónica. 
        Desarrolló su labor artística a lo largo de más de setenta años entre Florencia y Roma, 
        que era donde vivían sus grandes mecenas, la familia Médici de Florencia y los diferentes papas romanos.
    </p>
    </div>

    <div class="imagen1">
        <img src="images/capilla.jpg" style="height:400px">
    </div>

    <div class="pie-de-pagina">
        <a href="/"><img src="images/icon.png" style="width:14px ;">Inicio</a>
        <a href="/works"><img src="images/icon.png" style="width:14px ;">Obras</a>
        <a href="/photo-gallery"><img src="images/icon.png" style="width:14px ;">Galería</a>
    </div>

   </body>
</html>
