<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Miguel Ángel - Inicio </title>
    <link rel="icon" href="images/icon1.png"></link>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    
   <div class="titulo">
    <h1>Inicio</h1>
   </div>

    <div class="texto"> 
    <p> 
        Habitualmente se reconoce a Miguel Ángel como la gran figura del Renacimiento italiano, 
        un hombre cuya excepcional personalidad artística dominó el panorama creativo del siglo XVI y 
        cuya figura está en la base de la concepción del artista como un ser excepcional, que rebasa 
        ampliamente las convenciones ordinarias.
    </p>
    </div>

    <div class="imagen"> 
        <img src="images/miguel-angel.jpeg" style="height: 400px;">
    </div>

    <div class="pie-de-pagina">
        <a href="/about-page"><img src="images/icon.png" style="width:14px ;">Acerca</a>
        <a href="/works"><img src="images/icon.png" style="width:14px ;">Obras</a>
        <a href="/photo-gallery"><img src="images/icon.png" style="width:14px ;">Galería</a>
    </div>

   </body>
</html>














