<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Miguel Ángel - Galería </title>
    <link rel="icon" href="images/icon1.png"></link>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    
   <div class="titulo">
    <h1>Galería</h1>
   </div>

    <div class="imagen-capilla"> 
        <img src="images/capilla2.png" style="height: 500px;">
    </div>

    <div class="imagen-david"> 
        <img src="images/david.png" style="height: 500px;">
    </div>

    <div class="imagen-dios"> 
        <img src="images/dios.png" style="height: 500px;">
    </div>

    <div class="imagen-escultura"> 
        <img src="images/escultura.png" rad >
    </div>



    <div class="pie-de-pagina">
        <a href="/"><img src="images/icon.png" style="width:14px ;">Inicio</a>
        <a href="/about-page"><img src="images/icon.png" style="width:14px ;">Acerca</a>
        <a href="/works"><img src="images/icon.png" style="width:14px ;">Obras</a>
    </div>

   </body>
</html>