<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Miguel Ángel - Obras</title>
    <link rel="icon" href="images/icon1.png"></link>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="titulo">
        <h1>Obras</h1>
    </div>    

    <div class="texto2">
            <p> No cabe duda de que Miguel Ángel fue uno de los grandes genios en el Renacimiento, 
            y muchas de sus obras han dejado una huella imborrable. Hoy queremos hacer un repaso 
            a las obras más importantes de Miguel Ángel, aquellas que prácticamente todo el mundo 
            conoce por mucho que pase el tiempo.
            </p>
    </div>

    <div class="pie-de-pagina">
    <a href="/"><img src="images/icon.png" style="width:14px ;">Inicio</a>
    <a href="/about-page"><img src="images/icon.png" style="width:14px ;">Acerca</a>
    <a href="/photo-gallery"><img src="images/icon.png" style="width:14px ;">Galería</a>
    </div>

   </body>
</html>